{{> header}}
<body>
    {{> navbar}}

    <div class="containers">
         <div class="row">
            <div class="col-8">
             <h1>Lorem ipsum</h1>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates minus 
                 rerum odio repellendus alias magni pariatur laborum voluptatem quibus
                 dam aperiam accusamus, tenetur neque dolorem distinctio exercitationem consequu
                 ntur nisi beatae voluptas!</p>
            </div>
            <div class="col-4">
               <img src="ASSETS/images/775af1dc408fa8f6b752bf955274cf93.jpg" class="img-thumbnail">
            </div>
            
        </div>
    </div>
    {{> footer}}
</body>
